<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>AAC For Dogs</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
	
<body>
	
<div class = "header">
	<p1>Capacitive Touch AAC for Dogs</p1>	
</div>

<div class = "topnav">
	<a href="setboard">board</a>
	<a href="graph">graphs</a>
</div>	
	

	<br>
	<p1>
		<img src="{{url_for('static', filename='novaTempImage.jpg')}}" alt="Dog pressing button" style="float:left;width:540px;height:557.25px;">
	</p1>
	<p2><br><center>A CSC102 Final Project</center></p2>
	<p3><center>by Rebecca Wilson and McIntosh Webber</center></p3>
	<div class = "about"><p4>In 2018, a speech-language pathologist taught her puppy to communicate by pressing buttons with prerecorded words including “outside,” “play” and “water.” Her dog currently uses over 45 different buttons in sequences up to five words to communicate [1]. Many dog (and cat) owners have now taught their pets to communicate with recordable buttons and cognitive scientists are currently investigating the language capacity of non-human animals using recordable buttons along with video recordings of the animals using the buttons [2]. Our project aims to create a capacitive touch based augmentative and alternative communication (AAC) system for dogs and their owners that tracks the learner’s progress.</p4>
	</div>
	
	<div class = "references">
		<h1>References</h1>
		<a href="https://www.hungerforwords.com/our-story/">[1] hunger for words</a>
		<br>
		<a href="https://how.theycantalk.org/c/home/our-approach-to-research">[2] they can talk</a>
	</div>
	
	<!--<p4><br><br><center><a href="setboard" ><button class = "button button1">set up board</button></a></center></p4>
	<p5><br><br><center><a href="graph" ><button class = "button button2">graphs</button></a></center></p5>-->
	
</body>
</html>
