<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>AAC For Dogs</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
	
<body>

<!-- text at top of page -->	
<div class = "header">
	<p1>Capacitive Touch AAC for Dogs</p1>	
</div>

<!-- navigation bar -->	
<div class = "topnav">
	<a href="main">main</a>
	<a href="setboard">board</a>
	<a href="graph">graphs</a>
</div>	

<!-- title -->	
<div class = "projectTitle">
	<p2>A CSC102 Final Project</p2><br>
	<p3>by Rebecca Wilson and McIntosh Webber</p3>
</div>
	
<!-- picture and video -->	
<div class = "container">
	<img class="item"  src="{{url_for('static', filename='NovaIMG05.png')}}" alt="Dog using DIY AAC" style="width:394px;height:525px">
	<video class = "item" width = "933.33" height = "525" controls>
		<source src="{{url_for('static', filename='NovaVID02.mp4')}}" type = "video/mp4">
	</video>
</div>	
	
<!-- about project text -->
<div class = "about">
	<p4>In 2018, a speech-language pathologist taught her puppy to communicate by pressing buttons with prerecorded words including “outside,” “play” and “water.” Her dog currently uses over 45 different buttons in sequences up to five words to communicate [1]. Many dog (and cat) owners have now taught their pets to communicate with recordable buttons and cognitive scientists are currently investigating the language capacity of non-human animals using recordable buttons along with video recordings of the animals using the buttons [2]. Our project aims to create a capacitive touch based augmentative and alternative communication (AAC) system for dogs and their owners that tracks the learner’s progress.</p4>
</div>

<!-- references -->
<div class = "references">
	<center>
	<p5>References</p5>
	<br>
	<a href="https://www.hungerforwords.com/our-story/">[1] hunger for words</a>
	<br>
	<a href="https://how.theycantalk.org/c/home/our-approach-to-research">[2] they can talk</a>
	<br><br>
	</center>
</div>
	
</body>
</html>
